[class^="icon-"], [class*=" icon-"]{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex: none;
	// background: url(../img/icons/icons-sprite.png) no-repeat;
}

// .icon-bulb{
// 	width: 52px;
// 	height: 64px;
// 	background-position: -167px -124px;
// }