[class^="icon-"], [class*=" icon-"]{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex: none;
	// background: url(../img/icons/icons-sprite.png) no-repeat;
}

.icon-facebook{
	width: 8px;
	height: 14px;
	background: url(../img/icons/facebook.png);
}

.icon-vk{
	width: 16px;
	height: 9px;
	background: url(../img/icons/vk.png);
}

.icon-twitter{
	width: 16px;
	height: 13px;
	background: url(../img/icons/twitter.png);
}

.icon-telegram{
	width: 16px;
	height: 14px;
	background: url(../img/icons/telegram.png);
}