[class^="icon-"], [class*=" icon-"]{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex: none;
	background: url(../img/icons/icons-sprite.png) no-repeat;
}

.icon-facebook{
	width: 8px;
	height: 14px;
	background-position: 0 -16px;
}

.icon-telegram{
	width: 16px;
	height: 14px;
	background-position: -11px -16px;
}

.icon-twitter{
	width: 16px;
	height: 13px;
	background-position: -32px -17px;
}

.icon-vk{
	width: 16px;
	height: 9px;
	background-position: -49px -19px;
}

.icon-share{
	width: 23px;
	height: 24px;
	background-position: -61px 0;
}

.icon-location{
	width: 12px;
	height: 16px;
	background-position: -49px 0;
}

.icon-arrow-left{
	width: 24px;
	height: 16px;
	background-position: 0 0;
}

.icon-arrow-right{
	width: 24px;
	height: 16px;
	background-position: -24px 0;
}