.footer-nav{
	list-style: none;

	> li{
		margin-bottom: 6px;

		> a{
			font-size: 14px;
			line-height: 24px;
			color: #fff;
			font-weight: 700;
			text-transform: uppercase;

			&:hover{
				color: $accent;
			}
		}

		&.current-menu-item,
		&.current-menu-parent{
			> a{
				color: $accent;
				text-decoration: underline;
			}
		}

		&:last-child{
			margin-bottom: 0;

			.sub-menu{
				padding-bottom: 0;
			}
		}
	}

	.sub-menu{
		list-style: none;
		padding: 15px 0;

		li{
			margin-bottom: 4px;

			&:last-child{
				margin-bottom: 0;
			}

			a{
				font-size: 14px;
				line-height: 24px;
				letter-spacing: 0.05em;
				text-decoration: none;
				position: relative;
				padding-left: 12px;
				font-weight: 300;
				color: $text-light;
				display: inline-block;

				&:before{
					content: '•';
					position: absolute;
					left: 0;
					top: 0;
				}

				&:hover{
					color: $accent;
				}
			}

			&.current-menu-item{
				a{
					color: $accent;
					text-decoration: underline;
				}
			}
		}
	}
}