.product-description-component{
	width: 100%;
	padding-top: 30px;

	.description-text{
		margin-bottom: 60px;
	}

	.product-actions{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		> .item{
			margin-right: 30px;

			&:last-child{
				margin-right: 0;
			}
		}
	}

	@media screen and (max-width: 991px){
		margin-bottom: 30px;

		.description-text{
			margin-bottom: 30px;
		}
	}

	@media screen and (max-width: 575px){
		.product-actions{
			flex-direction: column;
			align-items: stretch;

			> .item{
				margin-right: 0;
				margin-bottom: 10px;

				&:last-child{
					margin-bottom: 0;
				}

				.btn{
					width: 100%;
				}
			}
		}
	}
}

.price-and-quantity{
	display: flex;
	align-items: center;

	.product-price{
		margin-left: 30px;
		font-size: 48px;
		line-height: 52px;
		font-weight: bold;
		color: $text-dark;

		@media screen and (max-width: 1199px){
			font-size: 38px;
		}
	}

	&.small{
		.product-price{
			font-size: 30px;
			line-height: 34px;
		}

		@media screen and (max-width: 575px){
			flex-direction: column;
			align-items: center;

			.product-price{
				margin-left: 0;
				margin-top: 10px;
			}
		}
	}
}

.quantity-select{
	min-width: 140px;
	padding: 4px;
	border: 1px solid #d2d2d2;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.block-text{
		padding: 0 15px;
		font-size: 18px;
		font-weight: 400;
		color: $text-dark;
	}

	.controls{
		flex: none;
		display: flex;
		flex-direction: column;
		margin-left: 10px;

		> .item{
			width: 18px;
			height: 18px;
			background: $accent;
			margin-bottom: 1px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			&:last-child{
				margin-bottom: 0;
			}
		}

		.plus{
			&:before{
				content: '';
				display: block;
				width: 10px;
				height: 10px;
				background: url(../img/icons/icons-sprite.png) no-repeat -77px -21px;
			}
		}

		.minus{
			&:before{
				content: '';
				display: block;
				width: 10px;
				height: 2px;
				background: url(../img/icons/icons-sprite.png) no-repeat -65px -25px;
			}
		}
	}
}