$colors: (
	white: #fff,
	text: $text-color,
	accent: $accent,
	primary: $primary,
);

// blue: $blue,
// orange: $orange,
// dark: $text-dark

@each $i in $colors{
	$color-key: nth($i, 1);
	$color-value: nth($i, 2);

	&.color-#{$color-key}{
		color: $color-value !important;
	}
}

.push{
	position: relative;
}

.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-right{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.big-phone-link{
	display: inline-flex;
	align-items: center;
	margin-bottom: 25px;
	text-decoration: none;

	span{
		margin-left: 15px;
		font-size: 30px;
		line-height: 1.2em;
		font-weight: bold;
		color: $text-dark;
		transition: all $t;
	}

	&:hover{
		span{
			color: $primary;
		}
	}
}

.lift-up{
	position: relative;
	z-index: 2;
}