@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic);

@font-face {
	font-family: 'PT Rouble Sans';
	src: url('../fonts/PTRoubleSans.ttf') format('truetype'),
		url('../fonts/PTRoubleSans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}