@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic);

@font-face {
	font-family: 'PFIsotextPro';
	src: url('../fonts/PFIsotextPro/PFIsotextPro-Regular.ttf') format('truetype'),
		url('../fonts/PFIsotextPro/PFIsotextPro-Regular.woff') format('woff');
	font-display: auto;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFIsotextPro';
	src: url('../fonts/PFIsotextPro/PFIsotextPro-Bold.ttf') format('truetype'),
		url('../fonts/PFIsotextPro/PFIsotextPro-Bold.woff') format('woff');
	font-display: auto;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'PFIsotextPro';
	src: url('../fonts/PFIsotextPro/PFIsotextPro-Light.ttf') format('truetype'),
		url('../fonts/PFIsotextPro/PFIsotextPro-Light.woff') format('woff');
	font-display: auto;
	font-weight: 300;
	font-style: normal;
}