$section-padding: 80px;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 14px;
	line-height: 24px;
}

body{
	background: $body-bg;
}

a, button{
	text-decoration: none;
	transition: all $t;
	outline: none !important;
	border: none;
	font-family: $main-font;
}

a img{
	outline: none !important;
	border: none !important;
}

.wrapper{
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	width: 100%;
	display: flex;
	flex-direction: column;

	.page{
		flex: auto;
	}

	.footer{
		flex: none;
	}

	.post-content{
		padding-bottom: 80px;
	}

	.clear{
		clear: both;
	}
}

.section-default-top-padding{
	padding-top: $section-padding;
}

.section-default-bottom-padding{
	padding-bottom: $section-padding;
}

.section-default-paddings{
	padding: $section-padding 0;
}

.white-bg{
	background: #fff;
}

@media screen and (max-width: 767px){
	.scrollable-container{
		.scrollable-container-inner{
			width: 100%;
			overflow: auto;
		}
	}
}

.modal{
	background: rgba(#000, .65);

	.modal-content{
		border-radius: 0;

		.modal-body{
			padding: 30px 35px 50px;

			@media screen and (max-width: 575px){
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

	.modal-dialog{
		margin-top: 100px;

		@media screen and (max-width: 575px){
			width: calc(100% - 30px);
			margin-left: auto;
			margin-right: auto;
		}
	}

	.modal-close{
		position: absolute;
		width: 45px;
		height: 45px;
		right: -38px;
		top: -38px;
		z-index: 5;
		border-radius: 50%;
		cursor: pointer;
		background: url(../img/icons/icons-sprite.png) no-repeat 0 0;

		@media screen and (max-width: 575px){
			right: -15px;
			top: -50px;
		}
	}

	&.narrow{
		.modal-dialog{
			max-width: 370px;
		}
	}
}

@media screen and (max-width: 767px){
	.scrollable-container{
		border: 1px solid #e5e8ee;
		padding: 10px;

		&:before{
			content: '← листайте влево и вправо →';
			text-align: center;
			font-size: 13px;
			color: #999;
			margin-bottom: 10px;
			display: block;
		}

		.scrollable-container-inner{
			width: 100%;
			overflow: auto;
		}
	}

	.sm-order-last{
		order: 999;
	}
}

.nobr{
	white-space: nowrap;
}