// .esm- - prefix for typography

body{
	font-size: 14px;
	line-height: 1.71em;
	letter-spacing: 0.05em;
	font-weight: 300;
	color: $text-color;
	font-family: $main-font;
}

.esm-typography p,
body .esm-body-1,
.esm-note{
	font-size: 14px;
	line-height: 1.71em;
	letter-spacing: 0.05em;
	margin: 0 0 24px;
	font-weight: 300;

	&:last-child{
		margin-bottom: 0;
	}
}

body .esm-body-2{
	font-weight: bold;
}

time{
	display: block;
}

body .esm-note{
	font-size: 12px;
	line-height: 1.667em;
}

.esm-typography h1,
body .esm-h1{
	font-size: 48px;
	line-height: 1.083em;
	font-weight: 300;
	margin: 0 0 27px;
	color: $text-dark;
	text-transform: uppercase;

	span{
		font-weight: 500;
	}

	@media screen and (max-width: 767px){
		font-size: 24px;
		margin-bottom: 20px;
	}
}

.esm-typography h2,
body .esm-h2{
	font-size: 30px;
	line-height: 1.2em;
	margin: 0 0 27px;
	color: $text-dark;
	font-weight: 300;
	text-transform: uppercase;

	&:last-child{
		margin-bottom: 0;
	}

	span{
		font-weight: 700;
	}
}

.esm-typography h3,
body .esm-h3{
	color: $text-dark;
	font-size: 22px;
	line-height: 26px;
	margin: 0 0 24px;
	font-weight: bold;

	&:last-child{
		margin-bottom: 0;
	}
}

.esm-typography h4,
body .esm-h4{
	font-size: 14px;
	line-height: 1.71em;
	letter-spacing: 0.05em;
	margin: 0 0 24px;
	font-weight: 700;
	color: $text-dark;
	text-transform: uppercase;

	&:last-child{
		margin-bottom: 0;
	}
}

blockquote{
	font-size: 22px;
	line-height: 1.45em;
	font-weight: 500;
	display: flex;
	padding: 25px 0;
	margin: 35px 0;
	border-top: 1px solid #e9e7e7;
	border-bottom: 1px solid #e9e7e7;
	color: $text-dark;

	&:after{
		content: '';
		display: block;
		background: url(../img/icons/icons-sprite.png) no-repeat -94px 0;
		width: 25px;
		height: 17px;
		margin-left: 15px;
		flex: none;
	}

	&:last-child{
		margin-bottom: 0;
	}

	@media screen and (max-width: 575px){
		font-size: 18px;
	}
}

.rub{
	font-family: 'PT Rouble Sans';
	font-weight: 400 !important;
}

.section-caption{
	margin-bottom: 30px;

	.caption-title{
		text-align: center;
		padding-bottom: 8px;
		position: relative;
		margin-bottom: 10px;

		&:last-child{
			margin-bottom: 0;
		}

		&:after{
			content: '';
			display: block;
			width: 60px;
			height: 2px;
			position: absolute;
			left: calc(50% - 30px);
			bottom: 0;
			background: $accent;
		}
	}

	&.left-aligned{
		.caption-title{
			text-align: left;

			&:after{
				left: 0;
			}
		}
	}

	&.small{
		.caption-title{
			line-height: 34px;
			border-bottom: 2px solid #e5e5e5;

			&:after{
				bottom: -2px;
			}
		}
	}
}

.post-content{
	.alignleft{
		float: left;
		margin-right: 40px;
		margin-bottom: 25px;
	}

	.alignright{
		float: right;
		margin-left: 40px;
		margin-bottom: 25px;
	}

	@media screen and (max-width: 991px){
		.md-fullwidth{
			display: block;
			margin: 0 auto 25px;
			float: none;
		}
	}
}