// Fonts
$main-font: 'Roboto', Arial, sans-serif;
$second-font: 'PFIsotextPro', $main-font;

// Colors
$coral: #f44336;
$green: #7db219;

$dark: #363636;
$light: #e1e1e1;

$text-color: #959595;
$text-dark: $dark;

$primary: $coral;
$accent: $green;

// Params
$body-bg: #fff; // site background
$t: .3s; // animation duration
$r: 3px; // border-radius