// Fonts
$main-font: 'Roboto', Arial, sans-serif;
$second-font: Arial, sans-serif;

// Colors
$blue: #203e5f;
$blue-light-1: #5881af;
$blue-light-2: #6f8daf;

$orange: #ffcb00;
$orange-light-1: #ffd840;
$orange-light-2: #ffe373;
$orange-light-3: #fee4b0;

$dark: #303030;
$gray: #585858;

$text-color: $gray;
$text-dark: $dark;
$text-light: #d6dade;

$primary: $blue;
$accent: $orange;

// Params
$body-bg: #f3f3f3; // site background
$t: .3s; // animation duration
$r: 5px; // default border radius
$shadow: 0 5px 25px rgba(#000, .1); // default card shadow