.big-phone-link{
	display: inline-flex;
	align-items: center;
	margin-bottom: 25px;
	text-decoration: none;

	i{
		flex: none;
	}

	span{
		margin-left: 15px;
		font-size: 30px;
		line-height: 1.2em;
		font-weight: bold;
		color: $text-dark;
		transition: all $t;
	}

	&:hover{
		span{
			color: $primary;
		}
	}

	&.no-margin{
		margin: 0;
	}

	@media screen and (max-width: 575px){
		i{
			transform: scale(.75);
		}

		span{
			margin-left: 5px;
			font-size: 19px;
		}
	}
}