.big-rent-block{
	width: 100%;
	display: flex;
	align-items: center;

	.block-image{
		flex: none;
		width: 370px;

		img{
			display: block;
			max-width: 100%;
		}
	}

	.block-content{
		padding-left: 30px;
		flex: auto;
	}

	@media screen and (max-width: 991px){
		.block-image{
			display: none;
		}

		.block-content{
			padding-left: 0;
		}
	}
}