.bordered-box{
	border: 2px solid $accent;
	padding: 30px;
	position: relative;

	.box-caption{
		position: relative;
		z-index: 2;
		display: inline-flex;
		position: absolute;
		left: 30px;
		top: -12px;

		&:before{
			content: '';
			display: block;
			width: calc(100% + 20px);
			height: 100%;
			position: absolute;
			left: -10px;
			top: 0;
			background: $body-bg;
			z-index: -1;
		}
	}
}