.breadcrumbs-section{
	padding: 20px 0 45px;
}

.breadcrumbs{
	display: flex;
	list-style: none;
	flex-wrap: wrap;

	li{
		font-size: 12px;
		line-height: 24px;
		letter-spacing: 0.05em;
		color: $text-color;
		display: flex;
		align-items: center;
		margin-right: 13px;

		&:last-child{
			margin-right: 0;
		}

		&:before{
			content: '';
			display: block;
			width: 5px;
			height: 8px;
			background: url(../img/icons/arrow-right-small.png) no-repeat 0 0;
			margin-right: 5px;
			margin-top: -1px;
		}

		a{
			color: $text-color;
			text-decoration: underline;

			&:hover{
				text-decoration: none;
			}
		}
	}
}