.button-with-dashes{
	display: flex;
	align-items: center;
	justify-content: center;

	&:before,
	&:after{
		content: '';
		display: block;
		width: 130px;
		height: 1px;
		background: #ccc;
		margin: 0 15px;
	}
}