.btn{
	display: inline-flex;
	border: none;
	transition: all $t;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	align-items: center;
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	border-radius: $r;
	background: $primary;
	color: #fff;
	justify-content: center;
	align-items: center;
	padding: 9px 33px;
	border: 1px solid transparent;
	text-transform: uppercase;
	position: relative;
	-webkit-appearance: none;

	&:hover{
		background: darken($primary, 10%);
	}

	[class^="icon-"], [class*=" icon-"]{
		&:first-child{
			margin-right: 13px;
		}

		&:last-child{
			margin-left: 13px;
		}
	}

	&.btn-round{
		border-radius: 20px;
	}

	&.btn-light{
		border-color: #ebebeb;
		background: #fafafa;
		color: $text-color;
		font-size: 12px;
		text-transform: none;
		padding: 5px 25px;

		&:hover{
			background: $primary;
			border-color: $primary;
			color: #fff;
		}

		&.btn-round{
			border-radius: 15px;
		}

		@media screen and (max-width: 575px){
			padding: 5px 15px;
		}
	}

	&.fullwidth{
		width: 100%;
	}

	@media screen and (max-width: 575px){
		&.xs-fullwidth{
			width: 100%;
		}
	}
}