.contacts-links{
	.item{
		display: flex;
		align-items: center;
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 3px;
		text-decoration: none;

		span{
			color: $text-color;
			text-decoration: underline;
			margin-left: 8px;
		}

		&:last-child{
			margin-bottom: 0;
		}

		&:hover{
			span{
				text-decoration: none;
			}
		}
	}

	&.light{
		.item{
			span{
				color: $text-light;
			}
		}
	}
}