.exhibitions-list{
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;

	> .item{
		width: 25%;
		padding: 0 15px;
		margin-bottom: 30px;
	}

	@media screen and (max-width: 1199px){
		> .item{
			width: 33.3333%;
		}
	}

	@media screen and (max-width: 767px){
		> .item{
			width: 50%;
		}
	}

	@media screen and (max-width: 575px){
		width: calc(100% + 6px);
		margin-left: -3px;
		margin-right: -3px;

		> .item{
			padding: 0 3px;
			// margin-bottom: 6px;
		}
	}

	@media screen and (max-width: 429px){
		> .item{
			width: 100%;
		}
	}
}