.form{
	.form-row{
		margin-bottom: 15px;

		&:last-child{
			margin-bottom: 0;
		}
	}
}

.input-field,
.textarea{
	height: 44px;
	font-size: 14px;
	padding: 0 18px;
	width: 100%;
	outline: none !important;
	transition: all $t;
	color: $text-color;
	background: #ebeff9;
	border: none;
	border: 1px solid #ebeff9;
	font-family: $main-font;
	-webkit-appearance: none;
	background: #fff;

	&:focus{
		border-color: $accent;
	}

	&::placeholder{
		color: $text-color;
	}

	&:disabled{
		background: #212833;
	}

	&.error{
		border-color: red;
		color: red;
	}
}

.textarea{
	padding: 9px 30px;
	resize: none;
	overflow: hidden;
	height: 170px;
}