.linked-image{
	position: relative;
	color: $text-color;
	display: inline-flex;

	span{
		text-decoration: none;
		font-size: 14px;
		line-height: 24px;
		display: block;
	}

	.image{
		display: flex;
		padding: 8px;
		width: 106px;
		height: 86px;
		position: absolute;
		left: calc(100% + 20px);
		top: 50%;
		transform: translate(100px, -50%) scale(0);
		align-items: center;
		justify-content: center;
		background: #fff;
		box-shadow: $shadow;
		transition: all $t;
		opacity: 0;
		z-index: 10;

		&:before{
			content: '';
			display: block;
			width: 30px;
			height: 100%;
			position: absolute;
			left: -30px;
			top: 0;
		}

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	&:hover{
		text-decoration: underline;

		.image{
			opacity: 1;
			transform: translate(0, -50%) scale(1);
		}
	}
}