.news-block{
	color: $text-color;
	text-decoration: none;
	display: block;

	.block-image{
		display: block;
		cursor: pointer;
		overflow: hidden;
		height: 180px;
		background: #ccc;

		&.big{
			height: 390px;
		}

		img{
			min-width: 100%;
			min-height: 100%;
			display: block;
			transition: all .4s ease-in-out;
		}
	}

	.block-content{
		padding: 25px 30px;
		background: #fafafa;
		border-bottom: 2px solid #e8e8e8;
		transition: all $t;

		.block-caption{
			transition: all $t;
			margin-bottom: 10px;
		}

		img{
			max-width: 100%;
			display: block;
			height: auto;
			margin-bottom: 15px;
		}

		time{
			margin-bottom: 4px;
		}

		p:not(.location){
			margin-top: 18px;
		}

		.location{
			display: flex;
			align-items: center;

			i{
				display: block;
				margin-right: 8px;
			}
		}

		@media screen and (max-width: 991px){
			padding: 15px;
		}

		@media screen and (max-width: 429px){
			padding: 25px 30px;
		}
	}

	&:hover{
		.block-image{
			img{
				transform: scale(1.05);
			}
		}

		.block-content{
			border-bottom-color: $primary;

			.block-caption{
				color: $primary;
			}
		}
	}
}