.order-call-block{
	display: flex;
	width: 100%;
	border: 13px solid #fff;
	background-color: #f8f9fb;
	min-height: 348px;
	align-items: center;
	position: relative;

	&:before{
		content: '';
		display: block;
		width: 622px;
		height: 100%;
		background: url(../img/common/team.png) no-repeat right center;
		position: absolute;
		right: 0;
		bottom: 0;
	}

	.block-content{
		position: relative;
		z-index: 2;
		max-width: 570px;
		padding: 30px 40px;

		.block-text{
			margin-bottom: 25px;
		}

		@media screen and (max-width: 1199px){
			max-width: 430px;

			.block-buttons{
				.links-row{
					flex-direction: column;
					align-items: flex-start;

					.item{
						margin-right: 0;
						margin-bottom: 20px;

						&:last-child{
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 991px){
		flex-direction: column;

		&:before{
			position: static;
			width: 100%;
			height: 260px;
			background-size: cover;
		}

		.block-content{
			width: 100%;
			max-width: 100%;
		}
	}

	@media screen and (max-width: 575px){
		&:before{
			height: 180px;
		}

		.block-content{
			padding: 20px;

			.block-buttons{
				.links-row{
					align-items: stretch;

					.btn{
						width: 100%;
					}
				}
			}
		}
	}
}