.socials-list{
	list-style: none;
	display: flex;
	align-items: center;

	li{
		margin-right: 16px;

		&:last-child{
			margin-right: 0;
		}

		a{
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			width: 36px;
			height: 36px;
			background: #1b3655;
			border: 1px solid #1b3655;

			&:hover{
				border-color: rgba(#fff, .3);
				background: transparent;
			}
		}
	}
}