.socials-list{
	display: flex;
	align-items: center;
	list-style: none;

	li{
		margin-right: 8px;

		&:last-child{
			margin-right: 0;
		}

		a{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 36px;
			height: 36px;
			background: $light;
			cursor: pointer;
			border-radius: 50%;

			&:hover{
				background: $primary;
			}
		}
	}
}