.contacts-map-section{
	position: relative;

	.map{
		height: 450px;

		[class*="controls-pane"],
		[class*="copyrights-pane"]{
			display: none;
		}
	}

	.map-contacts{
		margin-top: -450px;
		height: 450px;
		width: 100%;
		display: flex;
		align-items: center;

		@media screen and (max-width: 991px){
			height: auto;
			margin-top: -80px;
		}
	}

	.map-contacts-block{
		padding: 50px;
		background: #fff;
		position: relative;
		z-index: 5;
		box-shadow: $shadow;

		@media screen and (max-width: 575px){
			padding: 20px;
		}
	}
}