.equipment-rent-section{
	padding-bottom: 50px;
}

.equipment-rent-slider{
	@media screen and (min-width: 992px){
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;

		.slide{
			width: 25%;
			padding: 0 15px;
		}
	}

	@media screen and (max-width: 991px){
		.white-card{
			height: 270px;
		}
	}
}