.main-slider-section{
	height: 780px;
	background: url(../img/backgrounds/slider-bg.jpg) no-repeat center bottom;
	background-color: $blue;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 156px;

	.main-slider{
		overflow: hidden;
		height: calc(780px - 156px);

		&.slick-initialized{
			overflow: visible;
			height: auto;
		}
	}

	.slick-arrow{
		&.slick-prev{
			left: calc(4% - 33px);
		}

		&.slick-next{
			right: calc(4% - 33px);
		}
	}

	.slide{
		min-height: calc(780px - 156px); // .main-slider-section height - .header height

		.slide-inner{
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: space-between;
		}

		.slide-text{
			padding: 75px 0;
			margin-right: 30px;
			max-width: 550px;
			color: $text-light;

			p{
				max-width: 400px;
			}
		}
	}

	.slide-price-block{
		margin-top: 40px;
		margin-bottom: 60px;
	}

	.slick-dots{
		bottom: -18px;
		height: 36px;
		display: inline-flex !important;
		width: auto;
		left: 50%;
		transform: translateX(-50%);
		background: $primary;
		padding: 0 27px;
		border-radius: 18px;
		justify-content: center;
		align-items: center;

		li{
			margin: 0 6px 0 0;
			width: 5px;
			height: 5px;
			display: block;

			&:last-child{
				margin-right: 0;
			}

			button{
				width: 5px;
				height: 5px;

				&:before{
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background: #d6dade;
					transition: all $t;
					border: 0;
				}

				&:hover{
					&:before{
						background: $accent;
					}
				}
			}

			&.slick-active{
				button{
					&:before{
						background: $accent;
					}
				}
			}
		}
	}
}

.slide-price-block{
	.price{
		font-size: 24px;
		line-height: 52px;
		color: #fff;

		.bigger{
			font-weight: bold;
			font-size: 48px;
		}
	}

	.price-info{
		height: 24px;
		font-size: 11px;
		line-height: 14px;
		align-items: center;
		justify-content: center;
		color: #fff;
		display: inline-flex;
		position: relative;
		padding: 0 12px;
		background: #4b6ba3;
		text-transform: uppercase;

		&:after{
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 24px 16px 0 0;
			border-color: #4b6ba3 transparent transparent transparent;
			position: absolute;
			right: -16px;
			top: 0;
		}
	}
}