.header{
	.header-top{
		padding: 36px 0;
		background: #fff;

		.header-top-inner{
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: calc(100% + 30px);
			margin-left: -15px;
			margin-right: -15px;

			.header-block{
				padding: 0 15px;
			}
		}

		@media screen and (max-width: 991px){
			padding: 20px 0;
		}
	}

	.header-bottom{
		padding: 10px 0;
		background: $accent;

		.header-bottom-inner{
			display: flex;
			align-items: center;
			justify-content: center;
		}

		@media screen and (max-width: 767px){
			.header-bottom-inner{
				overflow-x: auto;
				display: block;
			}

			.header-bottom-scrollable{
				min-width: 650px;
				flex: none;
				white-space: nowrap;
			}
		}
	}
}