.logo-block{
	font-family: $second-font;
	font-size: 40px;
	line-height: 1;
	text-transform: uppercase;
	color: #000;

	span{
		color: $primary;
		font-weight: bold;
		transition: all $t;
	}

	&:hover{
		span{
			color: $accent;
		}
	}
}