.subheader-nav{
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	width: calc(100% + 50px);
	margin-left: -25px;
	margin-right: -25px;
	white-space: nowrap;

	li{
		padding: 0 25px;

		a{
			font-size: 14px;
			line-height: 30px;
			color: #fff;
			display: block;

			&:hover{
				color: $text-dark;
			}
		}

		&.current-menu-item,
		&.current-menu-parent{
			a{
				color: $text-dark;
			}
		}
	}

	@media screen and (max-width: 991px){
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;

		li{
			padding: 0 15px;
		}
	}

	@media screen and (max-width: 767px){
		width: calc(100% + 20px);
		margin-left: -10px;
		margin-right: -10px;

		li{
			padding: 0 10px;
		}
	}
}