.top-nav{
	display: flex;
	width: calc(100% + 30px);
	margin-left: -10px;
	margin-right: -10px;
	list-style: none;
	justify-content: space-between;

	> li{
		margin: 0 15px;
		display: inline-flex;
		justify-content: center;
		position: relative;

		> a{
			font-size: 18px;
			line-height: 30px;
			min-height: 30px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color: #000;
			font-weight: 400;
			position: relative;
			text-transform: uppercase;
			text-align: center;
			font-family: $second-font;

			&:before{
				content: '';
				display: block;
				width: calc(100% + 20px);
				height: 100%;
				position: absolute;
				left: -10px;
				top: 0;
			}

			&:after{
				content: '';
				display: block;
				height: 2px;
				position: absolute;
				bottom: 0;
				left: -10px;
				width: calc(100% + 20px);
				background: $primary;
				opacity: 0;
				transition: all $t;
			}

			&:hover{
				color: $primary;
			}
		}

		&.current-menu-item,
		&.current-menu-parent{
			> a{
				color: $primary;

				&:after{
					opacity: 1;
				}
			}
		}

		&.current-menu-item{
			> a{
				cursor: default;
			}
		}
	}

	@media screen and (max-width: 991px){
		> li{
			> a{
				font-size: 16px;
			}
		}
	}

	@media screen and (max-width: 767px){
		display: none;
	}
}