.top-nav{
	display: flex;
	width: calc(100% + 20px);
	margin-left: -10px;
	margin-right: -10px;
	list-style: none;
	justify-content: space-between;

	> li{
		margin: 0 10px;
		display: inline-flex;
		justify-content: center;
		position: relative;

		> a{
			font-size: 14px;
			line-height: 18px;
			min-height: 42px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			font-weight: bold;
			position: relative;
			text-transform: uppercase;
			text-align: center;

			&:before{
				content: '';
				display: block;
				width: calc(100% + 20px);
				height: 100%;
				position: absolute;
				left: -10px;
				top: 0;
			}

			&:after{
				content: '';
				display: block;
				height: 2px;
				position: absolute;
				bottom: 0;
				left: -10px;
				width: calc(100% + 20px);
				background: $accent;
				opacity: 0;
				transition: all $t;
			}

			&:hover{
				color: $accent;
			}
		}

		&.current-menu-item,
		&.current-menu-parent{
			> a{
				color: $accent;

				&:after{
					opacity: 1;
				}
			}
		}

		> .sub-menu{
			position: absolute;
			top: calc(100% + 15px);
			left: -10px;
			background: #fff;
			box-shadow: 0 5px 25px rgba(#000, .1);
			min-width: 260px;
			display: none;
			z-index: 50;

			li{
				border-bottom: 1px solid #f3f3f3;
				display: block;
				position: relative;

				&:last-child{
					border-bottom: 0;
				}

				a{
					background: #fff;
					position: relative;
					padding: 10px 20px;
					font-size: 14px;
					line-height: 22px;
					color: $text-dark;
					text-decoration: none;
					display: flex;
					align-items: center;

					&:before{
						content: '•';
						font-size: 14px;
						line-height: 22px;
						color: #d6dade;
						font-weight: 300;
						margin-right: 14px;
						display: block;
						transition: all $t;
					}

					&:hover{
						background: #f3f3f3;
					}
				}

				&.current-menu-item{
					> a{
						background: #f3f3f3;

						&:before{
							color: $accent;
						}
					}
				}

				> .sub-menu{
					position: absolute;
					left: 100%;
					top: 0;
					min-width: 260px;
					z-index: 100;
					box-shadow: 0 5px 25px rgba(#000, .1);
					display: none;
				}
			}
		}
	}
}